name: CI

on:
  pull_request:
  push:
    branches:
      main

concurrency:
  group: ${{ github.workflow}}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    name: Pre-commit checks
    uses: beeware/.github/.github/workflows/pre-commit-run.yml@main
    with:
      pre-commit-source: "--group pre-commit"

  test:
    name: Test (${{ matrix.distro }})
    needs: pre-commit
    runs-on: ubuntu-latest

    env:
      QT_STYLE_OVERRIDE: breeze

    strategy:
      fail-fast: false
      matrix:
        include:
          - distro: ubuntu:25.04
            install_cmd: |
              apt update
              apt-get install -y \
                git \
                python3-pip \
                python3-venv \
                tox \
                python3-pyside6.qtwidgets \
                kde-style-breeze \
                python3-torch

          - distro: fedora:42
            install_cmd: |
              dnf install -y \
                git \
                python3 \
                python3-pip \
                python3-wheel \
                python3-pyside6 \
                tox \
                plasma-breeze-qt6 \
                python3-torch

              # Technically an update after install
              # is needed to not brick the system;
              # however, this is a container, so do
              # whatever we want to save time.
              # dnf upgrade -y

          - distro: archlinux:base
            install_cmd: |
              pacman -Sy --noconfirm \
                git \
                python \
                python-virtualenv \
                python-pip \
                python-tox \
                breeze \
                pyside6 \
                python-pytorch

              # Without this, we get an error on ICUi18n:
              # https://www.reddit.com/r/archlinux/comments/1oz6paq/
              pacman -Syu --noconfirm

          - distro: opensuse/tumbleweed
            install_cmd: |
              zypper refresh
              zypper --non-interactive install \
                git \
                python3 \
                python3-virtualenv \
                python3-pip \
                python3-tox \
                breeze \
                python3-pytorch \
                python3-pyside6

    container:
      image: ${{ matrix.distro }}

    steps:
      - name: Dependencies
        run: |
          ${{ matrix.install_cmd }}

      - name: actions/checkout issue 363 workaround
        run: |
          git config --global --add safe.directory $PWD

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run tests
        run: |
          tox -e py
